{% extends 'base.html' %}

{% block body %}
{% load static %}

<h1 style="text-align: center;">Task List</h1>

{% if messages %}

{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" ></button>
</div>

{% endfor %}
{% endif %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Created At</th>
            <th scope="col">Due Date</th>
            <th scope="col">Completed</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.title }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.created_at }}</td>
            <td>{{ task.due_date|date:"Y-m-d H:i:s" }}</td>
            <td>{{ task.is_completed|yesno:"Yes,No" }}</td>
            <td>
                <a href="{% url 'task_detail' task.id %}"><i class="fa-solid fa-circle-info"></i></a>
                <a href="{% url 'task_update' task.id %}"><i class="fa-solid fa-pen-to-square"></i></a>


                <!-- Delete form -->
                <form action="{% url 'delete_task' task.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" style="background:none; border:none; color:red;">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </form>

            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No tasks available.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}